/* Content: Nơi chứa table dữ liệu và các filter */

/* Phần Header của Content */
.content .content__header {
    display: flex;
    padding: 24px 0;
    justify-content: space-between;
    align-items: center;
}

.content .content__header .header__title {
    font-size: 24px;
    font-family: Notosans-Bold;
}

.content .content__header .button__container {
    display: flex;
    gap: 16px;
}

.content .content__header .button__container #button__delete-employee {
    background-color: var(--color-alert);
}

.content .content__header .button__container #button__delete-employee .button__text {
    margin: 0
}

/* Phần Filter của Content */
.content .content__filter {
    display: flex;
    margin-top: 8px;
    align-items: center;
    justify-content: space-between;
}

.content .content__filter .content__filter--left {
    display: flex;
    align-content: center;
}

/* Content Footer */
.content__footer {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#content-area {
    flex: 1;
    min-height: 0;
    min-width: 0;
}
#content-area .content-wrapper {
    min-height: calc(100vh - 48px);
}

.router-view.fix-view {
    padding: 0 !important;
}