/* Phần Header  */
.header-container{
    height: var(--header-height);
    justify-content: space-between;
    padding: 0 20px 0 10px;
}

.header-icon {
    margin: 0 10px;
}

.header-notify {
    position: relative;
    margin-top: 0;
}

.user-ava {
    background: #e2e2e2;
    margin-right: 6px;
    border-radius: 15px;
}

.avatar {
    border-radius: 50%;
}

.header-branch-name {
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    /* font-weight: 600; */
    max-width: 600px;
    font-family: 'Notosans-semibold';
    text-overflow: ellipsis;
    transition: all .2s ease;
    font-size: 14px;
    color: #111;
}

.header-branch-icon {
    transform: rotate(90deg);
    margin-left: 10px;
}
.dropdown-user{
    font-weight: 600;
    position: relative;
    right: 0;
    color: inherit;
    display: inline-block;
    transition: all .25s ease;
    white-space: nowrap;
    font-size: 13px;
    padding: 0 16px;
    line-height: 13px;
    cursor: pointer;
}
.display-user {
    white-space: nowrap;
    max-width: 400px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 8px !important;
}

@media (max-width: 1440px) {
    .display-user {
        max-width: 300px;
    }
}

@media (max-width: 1366px) {
    .display-user {
        max-width: 200px;
    }
}

@media (max-width: 1300px) {
    .display-user {
        max-width: 160px;
    }
}

@media (max-width: 1024px) {
    .display-user {
        max-width: 140px;
    }
}


@media (max-width: 1680px) {
    .header-branch-name {
        max-width: 450px;
    }
}

@media (max-width: 1440px) {
    .header-branch-name {
        max-width: 300px;
    }
}

@media (max-width: 1366px) {
    .header-branch-name {
        max-width: 200px;
    }
}

@media (max-width: 1300px) {
    .header-branch-name {
        max-width: 160px;
    }
}