* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none !important;
}

input {
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
/* input[type=number] {
    -moz-appearance:textfield;
} */

::placeholder {
    font-family: 'Notosans-italic';
    font-size: 12px;
    color: #bbb;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #cdd3d6;
    border-radius: 5px;
}

body {
    font-family: 'Notosans-regular' !important;
    font-size: var(--fontsize-normal);
    color: var(--text-color);
}

.page-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* text */
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-semibold {
    font-family: 'Notosans-semibold', sans-serif;
}

.text-bold {
    font-family: 'Notosans-bold', sans-serif;
}

.text-italic {
    font-family: 'Notosans-italic';
}
/* display */
.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}
.d-flex {
    display: flex  !important;
}

.flex.flex-column {
    flex-direction: column !important;
  }

.flex-start {
    align-items: center;
    justify-content: flex-start;
}

.flex-end {
    align-items: center;
    justify-content: flex-end;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.d-block {
    display: block;
}

/* rotate */
.rotate-270 {
    transform: rotate(270deg);
}
.rotate-180 {
    transform: rotate(180deg);
}

.rotate-90 {
    transform: rotate(90deg);
}


.pointer {
    cursor: pointer;
}

@font-face {
    font-family: 'NotoSans-Regular';
    src: url('../../../fonts/notosans-regular.2cb88a13.woff2');
}

@font-face {
    font-family: 'NotoSans-Bold';
    src: url('../../../fonts/notosans-bold.3ede5aff.woff2');
}

@font-face {
    font-family: 'NotoSans-Italic';
    src: url('../../../fonts/notosans-italic.1c1aaac9.woff2');
}

@font-face {
    font-family: 'NotoSans-Semibold';
    src: url('../../../fonts/notosans-semibold.df3e6dc4.woff2');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../../../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../../../fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../../../fonts/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../../../fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../../../fonts/OpenSans-ExtraBold.ttf');
}