

.misa-button {
	border-radius: 4px;
	height: 36px;
	display: flex;
    font-size: 13px;
	align-items: center;
	cursor: pointer;
	padding: 0 16px;
	font-family: 'Notosans-semibold';
}

/* .misa-button:focus-visible {
    border: 1px solid #2ca01c;
    outline: none;
} */

.misa-button-primary {
	border: 1px solid transparent;
	color: #fff;
	background-color: #2ca01c;
}

.misa-button-primary:hover,
.misa-button-primary:focus-visible {
	background-color: #35bf22;
	outline: none;
}

.misa-button-primary:active {
	background-color: #248b15;
}

.misa-button-default {
	border: 1px solid #8d9096;
	color: #111;
    font-size: 13px;
	background-color: transparent;
}

.misa-button-group {
	gap: 10px;
}

.misa-button-default:hover,
.misa-button-default:focus-visible {
	background-color: rgba(0, 0, 0, 0.08);
	outline: none;
}

.misa-button-default:active {
	background-color: rgba(0, 0, 0, 0.2);
}

.misa-button-danger {
	background-color: #f65454;
	color: #fff;
}

.misa-button-danger:hover {
	background-color: #fa7e7e;
}

.misa-button-danger:active {
	background-color: #f65454;
}