/* 
.dropdown {
	width: 100%;
	height: 40px;
	position: relative;
}

.dropdown .dropdown__button {
	font-family: GoogleSans-Regular !important;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--color-black);
	background-color: var(--color-white);
	padding: 0 12px 0 16px;
	border-radius: 4px;
	box-sizing: border-box;
	border: 1px solid var(--color-gray);
	cursor: pointer;
}

.dropdown .dropdown__button i {
	margin-left: 12px;
	transition: 0.2s all ease-in-out;
}


.dropdown__content {
	width: 100%;
	position: absolute;
	z-index: 8;
	padding: 4px 0;
	background-color: var(--color-white);
	border-radius: 4px;
	box-shadow: 0 10px 24px -8px rgba(0, 0, 0, 0.25);
}

.dropdown__content .dropdown__option {
	height: 40px;
	padding: 0 10px 0 33px;
	color: var(--color-content-text);
	text-decoration: none;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
	transition: 0.2s all ease-in-out;
}

.dropdown__content .dropdown__option:hover {
	background-color: var(--color-secondary-hover);
	color: var(--color-content-text);
}

.dropdown__content .dropdown__option .icon {
	position: absolute;
	left: 10px;
	display: none;
	font-size: 13px;
	color: var(--color-white);
}

.dropdown__content--up {
	box-shadow: 0 -10px 24px -8px rgba(0, 0, 0, 0.25);
	bottom: 100%;
}

.dropdown-custom {
	width: 200px;
	border-radius: 2px;
}
.dropdown-custom .btn-outline-primary {
	border-color: #babec5;
	color: #000 !important;
	padding: 0 !important;
	font-size: 13px !important;
	width: 166px;
	height: 32px;
	border-radius: 2px;
	border-right: none !important;
}

.dropdown-custom .btn-outline-primary:hover {
	background-color: transparent !important;
	border-color: #babec5;
}

.dropdown-custom .btn-outline-primary:focus {
	border-color: var(--color-primary);
	box-shadow: none !important;
}

.dropdown-menu.show {
	width: 100% !important;
	padding: 1px 0 !important;
	margin: 0;
	border-radius: 2px;
}
.dropdown-item{
	height: 32px;
	font-size: 13px !important;
	line-height: 32px;
	padding: 0 10px !important;
}
.dropdown-item:hover{
	background-color: #ebedf0 !important;
    color: #2ca01c !important;
}
.dropdown-custom .dropdown-toggle {
	margin: 0 !important;
	width: 34px;
	height: 32px;
	border-radius: 2px;
	background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
	color: #fff;
	border-color: #babec5 !important;
}
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #e0e0e0 !important;
	border-color: var(--color-primary)!important;
}
.dropdown-toggle::after {
	transform: rotate(0deg);
}
.btn-secondary {
	color: #000 !important;
	border-left: none !important;
	border-color: #babec5 !important;
}


.btn-secondary:focus {
	background-color: transparent !important;
	border-color: var(--color-primary)!important;
	box-shadow: none !important;
}

.btn-secondary:hover {
	background-color: #e0e0e0 !important;
} */