.content-footer{
	display: flex;
	background-color: var(--color-white);
	min-height: 46px;
	padding: 0 30px;
	justify-content: space-between;
}
.record-display{
	display: flex;
	font-size: 13px;
}
.paginate{
	display: flex;
}
.input-search{
	display: flex;
}
.paginate-custom {
	margin: 0;
    height: 20px;
    font-size: 13px;
}
.paginate-custom .page-item .page-link{
	border: none;
	outline: none;
	padding: 1px 7px;
	margin: 0 2px;
	color: #000;
}
.page-link:focus{
	box-shadow: none !important;
}
.paginate-custom .page-item .page-link:hover{
	background-color: transparent;
	color: #000;
}

.page-item.active .page-link{
    color: #000 !important;
    font-weight: 900 !important;
	background-color: transparent !important;
	border: 1px solid #e0e0e0 !important;
}