* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    -webkit-text-decoration-style: initial;
    text-decoration-style: solid;
    -webkit-text-decoration-color: initial;
    text-decoration-color: initial;
    font-family: inherit;
    font-size: inherit;
}

body {
    background: #f4f5f8;
    color: #111;
    overflow: hidden;
}

body,
html {
    font-family: NotoSans-Regular !important;
    font-size: 13px;
    background: #f8f8f8;
    font-weight: 400;
    overflow-x: hidden;
    max-width: 100%;
}

.layout-main {
    display: flex;
}

.main-content {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
    background: var(--color-gray);
    border-radius: 2.5px;
    min-height: 40px;
}

@font-face {
    font-family: 'NotoSans-Regular';
    src: url('../../../fonts/notosans-regular.2cb88a13.woff2');
}

@font-face {
    font-family: 'NotoSans-Bold';
    src: url('../../../fonts/notosans-bold.3ede5aff.woff2');
}

@font-face {
    font-family: 'NotoSans-Italic';
    src: url('../../../fonts/notosans-italic.1c1aaac9.woff2');
}

@font-face {
    font-family: 'NotoSans-Semibold';
    src: url('../../../fonts/notosans-semibold.df3e6dc4.woff2');
}