/* Phần Menu  */
.menu-container {
    font-size: 13px;
    -webkit-transition: all .3s ease;
    position: relative;
    background-color: #393a3d;
    width: 52px;
    transition: all .2s ease;
}

.menu-container .logo-container {
    display: flex;
    background-color: var(--color-light-black);
    padding: 10px;
    height: 48px;
    align-items: center;
    justify-content: center;
}

.menu-container .logo-container .menu-container-option {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background: url('../../../img/Sprites.64af8f61.svg') no-repeat -424px -86px;
}

.menu-container .logo-container .logo {
    height: 32px;
    display: block;
}
.menu-container .logo-container .logo .img-icon{
    height: 32px;
}

.menu-container .menu-item-list{
    height: calc(100vh - 48px);
    padding-top: 14px;
}

.menu-item{
    line-height: 42px;
    height: 42px;
    border-left: 6px solid transparent;
    padding-left: 8px;
    padding-right: 14px;
    color: #fff;
    position: relative;
    display: flex;
    cursor: pointer;
}

.menu-item:hover:before{
    content: "";
    background: #ebedf0;
    opacity: .2;
    width: calc(100% + 6px);
    height: 42px;
    left: -6px;
    top: 0;
    position: absolute;
}

.menu-item.active{
    position: relative;
    border-left-color: var(--color--menu-active) !important;
    font-weight: 700;
}

.menu-item.active:before{
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    background: #ebedf0;
    opacity: .2;
    position: absolute;
}


.menu-item .menu-item__icon{
    display: flex;
    align-items: center;
    margin-right: 16px;
}




/* Expand */
.menu-container.expand {
    width: auto;
}

.expand .logo-container{
    padding: 24px;
}

.expand .menu-item{
    padding-left: 8px;
}

.scroller{
    overflow: auto;
}

.expand .menu-item .menu-item__icon{
    margin-right: 8px;
}