/* Data Table */
.content__table-container {
    width: 100%;
    margin-top: 16px;
    overflow: auto;
    background-color: var(--color-white);
}

.table-tool {
    padding: 16px 16px 10px 16px;
    justify-content: flex-end;
}

.input-search {
    position: relative;
    width: 240px;
    align-items: center;
    margin-right: 10px;
}
.search-icon{
    position: absolute;
    right: 10px;
    width: 16px;
    height: 16px;
}
.table-tool__search {
    font-family: 'NotoSans-Regular';
    width: 240px;
    height: 32px;
    font-size: 13px;
    padding: 6px 30px 6px 10px;
    outline: none;
    border-radius: 2px;
    border: 1px solid var(--color-gray);
}

.table-tool__search:focus{
    border: 1px solid var(--color-primary);
}

.table-tool__search::placeholder{
    font-family: 'NotoSans-Regular';
    font-style: italic;
}

.table-tool__icon {
    padding: 0 6px;
}